
#root {
    max-width: 500px;
    margin: auto;
}

#welcome {
    max-width: 1100px;
    margin-left: 100px;
    color:rgb(182, 14, 14);
}

.theInput {
    font-size: 30px;
}

table {
    text-align: "center";
}

#inputText {
    font-size: 30px;
}

tbody {
    font-size: 25px;
}

#createText {
    font-size: 40px;
}